
.background-login {
    background-image: url("../../assets/img/slide-1.jpg");
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


.box-height{
    height: 300px;
    width: 600px;
    display: block;
    justify-content: center;
    object-fit: cover;
}
