<div class="row background-login">
    <div class="col-sm-12 intro-single">
        <div class="container" style="background-color: white;">
            <div class="row">
                <div class="col-md-12 col-lg-8" style="padding-top: 150px;">
                    <div class="title-single-box">
                        <h1 class="title-single">Dodaj agenciju</h1>
                        <span class="color-text-a"></span>
                    </div>
                    <form class="form-a" enctype="multipart/form-data">
                        <div class="row" style="padding-top: 20px;">
                            <div class="col-md-12 mb-2">
                                <div class="form-group">
                                    <label class="pb-2" for="city">Naziv</label>
                                    <input type="text" class="form-control form-control-lg form-control-a"
                                        placeholder="Naziv" [(ngModel)]='naziv' [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group mt-3">
                                    <label class="pb-2" for="city">Grad</label>
                                    <select class="form-control form-select form-control-a" id="city" [(ngModel)]="grad"
                                        [ngModelOptions]="{standalone: true}" (change)="dohvatiOpstinePoGradu(grad)">
                                        <option *ngFor="let g of gradovi" value="{{g.naziv}}">{{g.naziv}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2" *ngIf="grad !== undefined">
                                <div class="form-group mt-3">
                                    <label class="pb-2" for="city">Opština</label>
                                    <select class="form-control form-select form-control-a" id="city"
                                        [(ngModel)]="opstina" [ngModelOptions]="{standalone: true}"
                                        (change)="dohvatiMikrolokacijePoOpstini(opstina)">
                                        <option *ngFor="let o of opstine" value="{{o.naziv}}">{{o.naziv}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2" *ngIf="opstina !== undefined">
                                <div class="form-group mt-3">
                                    <label class="pb-2" for="city">Mikrolokacija</label>
                                    <select class="form-control form-select form-control-a" id="city"
                                        [(ngModel)]="mikrolokacija" [ngModelOptions]="{standalone: true}"
                                        (change)="dohvatiUlicePoMikrolokaciji(mikrolokacija)">
                                        <option *ngFor="let m of mikrolokacije" value="{{m.naziv}}">{{m.naziv}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group" *ngIf="mikrolokacija !== undefined">
                                    <label class="pb-2" for="Type">Ulica</label>
                                    <select class="form-control form-select form-control-a" id="city"
                                        [(ngModel)]="ulica" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let u of ulice" value="{{u.naziv}}">{{u.naziv}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group" *ngIf="ulica !== undefined">
                                    <label class="pb-2" for="Type">Broj</label>
                                    <input type="number" class="form-control form-control-lg form-control-a"
                                        placeholder="Broj" [(ngModel)]='broj' min="1"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group">
                                    <label class="pb-2" for="Type">Telefon</label>
                                    <input type="tel" class="form-control form-control-lg form-control-a"
                                        placeholder="U formatu +(pozivni kod)(broj telefona)" [(ngModel)]='telefon'
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group">
                                    <label class="pb-2" for="Type">PIB</label>
                                    <input type="number" class="form-control form-control-lg form-control-a"
                                        placeholder="PIB" min="100000001" max="999999999" [(ngModel)]='PIB'
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center" style="padding-bottom: 20px;">
                                <button type="submit" class="btn btn-b" (click)="dodajAgenciju()">Dodaj
                                    agenciju</button>
                            </div>
                            <div class="col-md-12 mb-2" *ngIf='poruka != ""'>
                                <div class="form-group" style="white-space: pre-line;">
                                    <span class="pb-2 error">{{poruka}}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- End Intro Single-->
</div>